<div class="page-form">
    <a href="/">home</a>
    <h1>Create User</h1>
    <form method="post" action="/create" id="edit-user">
        <div>
            <label for="username">Username:</label>
            <input id="username" type="text" name="username" value="">
        </div>
        <div>
            <label for="password">Password:</label>
            <input id="password" type="text" name="password" value="">
        </div>
        <div>
            <label for="password">Email:</label>
            <input id="password" type="text" name="email" value="">
        </div>
        <button onclick="" id="submit" type="submit">Submit</button>
    </form>
</div>