<div>
    <button>
        <a href="/create">Create</a>
    </button>
</div>

<table>
    <tr>
        <td>Id</td>
        <td>Username</td>
        <td>Actions</td>
    </tr>
    {{#each users}}
        <tr>
            <th>{{this.id}}</th>
            <td>{{this.username}}</td>
            <td>
                <button>
                    <a href="/edit/{{this.id}}">Edit</a>
                </button>
                <button onclick="deleteUser({{this.id}})">Delete</button>
            </td>
        </tr>
    {{/each}}
</table>



<script>
    function deleteUser(id) {
        const token = localStorage.getItem("auth");
        fetch(`/users/${id}`, {
            method: "DELETE",
            mode: "cors",
            cache: "no-cache",
            headers: {
                "Content-Type": "application/json",
                authorization: token
            },
        }).then(() => {
            window.location.reload()
        }).catch(err => {
            console.error(err.toString())
        })
    }
</script>
