<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body onload="checkAuth()">
    {{{body}}}
  </body>

  <script>
      function checkAuth() {
          const path = window.location.pathname;
          const isAuth = !!localStorage.getItem("auth"); // Checking there is a value

          if (path === "/login" && isAuth) {
              window.location.replace("/");
              return;
          }

          if (path !== "/login" && !isAuth) {
              window.location.replace("/login");
          }
      }
  </script>
</html>
