<div class="page-form">
    <form id="login">
        <div>
            <label for="username">Username:</label>
            <input id="username" type="text" name="username" value="">
        </div>
        <div>
            <label for="password">Password:</label>
            <input id="password" type="text" name="password" value="">
        </div>
        <button id="submit" type="button">Submit</button>
    </form>
</div>

<script>
    const loginForm = document.querySelector("#login");
    document.querySelector("#submit").addEventListener("click", (e) => {
        e.preventDefault();
        const username = document.querySelector("#username").value;
        const password = document.querySelector("#password").value;

        fetch("/auth", {
            method: "POST",
            mode: "cors",
            cache: "no-cache",
            headers: {
                "Content-Type": "application/json"
            },
            redirect: "follow",
            body: JSON.stringify({username, password})
        })
                .then((auth) => {
                    auth.text().then(value => {
                        localStorage.setItem("auth", value);
                        fetch("/", {
                            method: "GET",
                            mode: "cors",
                            cache: "no-cache",
                            headers: {
                                authorization: value
                            },
                            redirect: "follow",
                        })
                                .then(() => {
                                    window.location.replace("/");
                                })
                                .catch(err => {
                                    console.error(err)
                                });

                    });
                })
                .catch(err => {
                    console.error(err.toString())
                });
    })
</script>